.Item1 {
  background-color: white;
  max-width: 400px;
  margin-left: 10px;
  margin-bottom: 30px;
}
.Item2 {
  background-color: white;
  max-width: 400px;
  margin-left: 10px;
  margin-bottom: 30px;
}
.Item3 {
  background-color: white;
  max-width: 400px;
  margin-left: 10px;
  margin-bottom: 30px;
}
.Item4 {
  background-color: white;
  max-width: 400px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.ui {
  background-color: rgb(245, 248, 68);
  text-align: center;
}
.likebt {
  border: 10;
  cursor: pointer;
}
.sharebt {
  border: 10;
  cursor: pointer;
}
.uii {
  display: flex;
  gap: 10px;
  text-align: center;
}
