<body>
  <h2 class="ui">CATEGORY</h2>
  <div class="container">
    <div class="Item1">
      <mat-card class="list">
        <mat-card-header>
          <h2>
            <mat-card-title>Sport Shoes</mat-card-title>
          </h2>
        </mat-card-header>
        <img
          mat-card-image
          src="https://e7.pngegg.com/pngimages/354/583/png-clipart-shoe-sneakers-running-shoes-white-sport.png"
        />
        <mat-card-content>
          <h4>
            <p>
              shoes primarily designed for sports or other forms of physical
              exercise
            </p>
          </h4>
        </mat-card-content>
        <div>
          <mat-card-actions class="uii">
            <button mat-button class="likebt">LIKE</button>
            <button mat-button class="sharebt">SHARE</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>

    <div class="Item2">
      <mat-card class="list2">
        <mat-card-header>
          <h2>
            <mat-card-title>Sneakers</mat-card-title>
          </h2>
        </mat-card-header>
        <img
          mat-card-image
          src="https://i.pinimg.com/originals/48/2b/46/482b46ca11c5c06262b88302882e539c.jpg"
        />
        <mat-card-content>
          <h4>
            <p>
              Sneakers are meant for comfort and physical activities and
              considered casual shoes whereas those made with leather are
              considered formal.
            </p>
          </h4>
        </mat-card-content>
        <div>
          <mat-card-actions class="uii">
            <button mat-button class="likebt">LIKE</button>
            <button mat-button class="sharebt">SHARE</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>

    <div class="Item3">
      <mat-card class="list3">
        <mat-card-header>
          <h2>
            <mat-card-title>Loafer Shoes</mat-card-title>
          </h2>
        </mat-card-header>
        <img
          mat-card-image
          src="https://i.pinimg.com/originals/be/46/70/be4670090965eb6fa2faab2d6c108813.jpg"
        />
        <mat-card-content>
          <h4>
            <p>
              Loafers are shoes that do not utilize a lacing or fastening system
              and are instead simply slipped on the foot.
            </p>
          </h4>
        </mat-card-content>
        <div>
          <mat-card-actions class="uii">
            <button mat-button class="likebt">LIKE</button>
            <button mat-button class="sharebt">SHARE</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>

    <div class="Item4">
      <mat-card class="list4">
        <mat-card-header>
          <h2>
            <mat-card-title>Formal Shoes</mat-card-title>
          </h2>
        </mat-card-header>
        <img
          mat-card-image
          src="https://e7.pngegg.com/pngimages/363/1007/png-clipart-oxford-shoe-patent-leather-dress-shoe-sneakers-leather-shoes-leather-outdoor-shoe.png"
        />
        <mat-card-content>
          <h4>
            <p>
              A dress shoe is a shoe to be worn at smart casual or more formal
              events.
            </p>
          </h4>
        </mat-card-content>
        <div>
          <mat-card-actions class="uii">
            <button mat-button class="likebt">LIKE</button>
            <button mat-button class="sharebt">SHARE</button>
            
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>
</body>
